:root{
    --rose: #FF9677;
    --pure: #550032;
}

body{
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

header{
    width: 200px;
    height: 550px;
    background: #55003220;
    border-radius: 30px;
    margin-right: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.btn-return{
    background: white;
    padding: 5px 25px;
    border: 1px solid #55003220;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo img{
    width: 180px;
}
.logo label{
    font-size: 18px;
    font-weight: 600;
    color: var(--pure);
}

.box-content{
    width: 1000px;
    height: 550px;
    background-color: #55003220;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.bg-box{
    border-radius: 20px;
    width: 48%;
    height: 98%;
    background: url(../im/vojtech.jpg) center/cover;
}

.box{
    background: #00000000;
    border-radius: 10px;
    width: 48%;
    height: 98%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box label{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #550032;
}

.btn{
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background: #ffffff;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 20px;
}

.btn input{
    height: inherit;
    width: 270px;
    border-radius: 10px;
    border: none;
    text-align: left;
    font-size: 16px;
    outline: none;
    background: transparent;
}
.btn input::placeholder{
    color: #b4b4b4;
}


.btn img{
    margin: 5px;
    height: 20px;
    margin-right: 10px;
}

input[type="submit"]{
    transition: 0.3s;
    cursor: pointer;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    background: #ff9677;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

hr{
    margin-top: 10px;
    border: 2px solid #ff9677;
    width: 300px;
    border-radius: 10px;
}

.btn-connect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-c{
    text-decoration: none;
    color: rgb(39, 38, 38);
    background: white;
    border: 1px solid #5500322c;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inscription{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.forgot{
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.ins{
    font-size: 14px;
    background: #550032;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

/*  LES MEDIAS QUERIES */

/* MAX WIDTH 767PX */
@media only screen and (max-width: 767px){
    body{
        padding-top: 50px;
        flex-direction: column-reverse;
        width: initial;
        height: initial;
    }
    .box-content{
        width: max-content;
        height: auto;
        margin: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type="submit"]{
        font-weight: 500;
        background: var(--rose) ;
    }
    .box{
        width: inherit;
        height: 400px;
        border-radius: 0px;
        padding: 10px;
    }
    .box label{
        font-size: 25px;
    }
    .btn input, input[type="submit"], .box a{
        font-size: 14px;
    }
}

/* MAX WIDTH 767PX------1023PX */
@media screen and (min-width: 767px) and (max-width: 1023px){

}

/* MAX WIDTH 1024PX */
@media screen and (min-width: 1024px){
}