:root {
    --rose: #FF9677;
    --pure: #550032;
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

/*---------------------------------------------------
STYLE HEADER
------------------------------------------------------*/
.nav .nav-link{
    color: var(--pure);
    font-weight: 500;
    transition: color 0.4s;
}
.nav .nav-link:hover{
    color: #ff9677;
}

.btn-connect a {
    text-decoration: none;
    color: var(--pure);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 8px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #55003250;
    transition: 0.4s;
}

.btn-connect a:hover {
    background-color: var(--pure);
    color: white;
}

.btn-connect a:nth-child(2) {
    background-color: var(--pure);
    color: white;
}

.connexion {
    display: none;
}

/*---------------------------------------------------
STYLE BACKGROUND PAGE D'ACCEUIL
------------------------------------------------------*/
.bg {
    margin: 10px auto;
    width: 90%;
    min-height: 80vh;
    background: url(../im/back-hoteru.jpg) center/cover;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.bg-content {
    background: linear-gradient(90deg, #550032, #c94e28, #ff977700);
    width: 75%;
    min-height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.bg-content p {
    font-size: 50px;
    color: white;
    width: 400px;
}

.bg-content span {
    font-size: 20px;
    width: 400px;
    color: var(--rose);
    margin-bottom: 20px;
}

/*---------------------------------------------------
STYLE DU BLOCK DE RECHERCHE
------------------------------------------------------*/
.block-search {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    background-color: white;
    width: 1050px;
    height: 150px;
    /* margin-top: 37.5vh; */
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f8f6f6;
    box-shadow: 0px 5px 20px rgba(77, 77, 77, 0.212);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-search2 {
    display: none;
}

.block-search span {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.service,
.search {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.service {
    min-width: 450px;
}

.serv {
    display: flex;
    justify-content: space-between;
}

.serv label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 75px;
    border: 1px solid rgba(0, 0, 0, 0.041);
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.serv img {
    width: 24px;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label {
    scale: 1.1;
    border: 1px dashed #c94e28;
}

.input-control {
    border: 1px solid #d8d8d8;
    height: 62px;
    border-radius: 8px;
    overflow: hidden;

    display: flex;
    align-items: center;
}

.input-control img {
    margin: 10px;
}

.input-control input {
    height: inherit;
    min-width: 250px;
    outline: none;
    width: 100%;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.input-control input::placeholder {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.685);
    font-style: italic;
}

.btsearch {
    cursor: pointer;
    background-color: var(--pure);
    border-radius: 9999px;
    width: 44px;
    height: 44px;
    transition: 0.3s;
}

.btsearch:hover {
    scale: 1.2;
}

.btsearch img {
    margin: 10px;
}

.btsearch label {
    display: none;
}

/*---------------------------------------------------
STYLE CORPS DU SITE
------------------------------------------------------*/

/* ------Class block-container------*/

.block-container {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    color: var(--pure);
    font-weight: lighter;
    text-align: center;
    margin-bottom: 50px;
}

.block-content {
    display: flex;
    justify-content: center;
}

.block-content>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    max-width: 325px;
}

.block {
    height: 400px;
    box-shadow: 0px 0px 15px #dfdfdf;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    margin: 20px;
    padding: 0px;

    display: grid;
    grid-template-rows: 200px 200px;
}

.block-bg {
    grid-row: 1;
    background: url(../im/hot2.jpg) center/cover;
    padding: 20px 10px;
}

.reduc {
    color: white;
    font-size: 16px;
    background-color: #ff9777bd;
    padding: 5px 25px;
    border-radius: 5px;
}

.block-info {
    grid-row: 2;
}

.block-info div {
    padding: 5px 15px;
}

.block-nom label {
    font-size: 20px;
    font-weight: 500;
    color: #FF9677;
}

.block-des label {
    font-size: 14px;
    color: gray;
}

.block-serv {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.gp {
    margin-right: 15px;
    width: 24px;
    color: #000000;
}

.block-plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-plus label {
    font-weight: 500;
}

.plus {
    text-decoration: none;
    color: #c94e28;
    background-color: #ff977748;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.4s;
}

.plus:hover {
    background-color: #ff9777a8;
}

.more {
    text-decoration: none;
    color: black;
    background-color: var(--rose);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 30px;
    transition: 0.3s;
}

.more:hover {
    scale: 1.1;
}

/* hr{
    width: 1000px;
    height: 2px;
    background-color: rgb(233, 229, 229);
    margin: 20px auto;
} */

/*--------------------Class hot-container----------------------*/
.hot-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin-bottom: 50px;
}

.hot-container img {
    height: 200px;
}

.hot {
    max-width: 500px;
}

.hot,
.hot-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hot-content label {
    text-align: center;
}

.hot-content a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: var(--pure);
    transition: scale 0.3s ease-in-out;
}

.hot-content a:hover {
    scale: 1.1;
}

/*---------------------------------------------------
STYLE FOOTER
------------------------------------------------------*/
footer {
    padding: 50px;
}